{% extends 'base.html' %}
{% from 'field-renderer.html' import render_field %}
{% block main %}
<div class="wrapper">
	<div class="title">Login</div>
	<form method="post">
		<div class="form">
			{{form.hidden_tag()}}
			{{render_field(form.username)}}
			{{render_field(form.password)}}
			<div class="input-field">
				{{form.submit(class='btn')}}
			</div>
			<div class="auth-extra">
				<a class="small-text-link" href="{{url_for('auth.register')}}">Need an account?</a>
				<a class="small-text-link" href="{{url_for('auth.password_reset_request')}}">Forget password</a>
			</div>
	</form>
</div>
{% endblock main %}